body {
    background-color: #f5f5f5;
}

#main-content {
    padding: 16px;
}


.btn {
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
}
.btn:disabled {
    cursor: default;
    filter: opacity(35%);
}

.btn-default {
    color: white;
    background-color: #00aeef;
}

.btn-cancel {
    color: white;
    background-color: red;
}

input, select {
    border: 1px solid gray;
    color: #312f2f;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 2px;
}