@import "tailwindcss";

body {
    background-color: #f5f5f5;
}

#main-content {
    padding: 16px;
}


.btn {
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;

}
.btn-default {
    color: white;
    background-color: #00aeef;
}

.btn-cancel {
    color: white;
    background-color: red;

}

input {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 0 2px;
}